.payment-success-body {
  text-align: left !important;
  color: lightgreen;
}

.payment-cancel-body {
  text-align: left !important;
  color: pink;
}

.free-success-body {
  text-align: left !important;
  color: lightblue;
}